.container
    section.main-name
        .main-name__photo
            img(src='', alt='user photo')
        .main-name__content
            .main-name__user-name
            .main-name__user-surename
            .main-name__user-profession
    section.profile
        head.profile__header
        .profile__content
    section.contact
        .contact__header
        .contact__content
    section.skills
        .skills__header
        .skills__content
    section.education
        .education__header
        .education__content
    section.experience
        .experience__header
        .experience__content
    section.software
        .softwaree__header
        .software__content
