
imgSize = 60px;
mainColor = #0071BB;

.st0
    fill: mainColor;
.st1
    fill:#FFFFFF;

.header-section
    position: relative;
    overflow: hidden;
    &__img
        float: left;
        width: imgSize;
        height: imgSize;
        margin-right:10px;
    &__title
        text-transform: uppercase;
        margin-right: 10px
        color: mainColor;
        font-weight: 600;
        float: left;
    &__line
        width: 100%;
        height: 3px;
        background: mainColor;
        position: absolute;
        top: 50%
        